.basketModal {
  margin: 0;
  height: 100vh;
  max-width: 100%;
  transform: none;
  top: 0;
  padding-bottom: 0;
}

.h100 {
  height: 100%;
}

.mobileVisible {
  display: none;
}

@media all and (max-width: 767px) {
  .mobileVisible {
    display: block;
  }
}

.fixedBasketModalBtn {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 0;
  height: 58px !important;
  padding: 16px !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 18px !important;
  line-height: 28px !important;
  color: #1d1d1d !important;
  border: none !important;
  text-transform: none !important;

  background-color: #fff0db !important;
  box-shadow: 1px 4px 14px rgba(0, 0, 0, 0.34);
}

.fixedBasketModalBtn > span {
  text-transform: none !important;
}

.fixedBasketModalBtn:focus,
.fixedBasketModalBtn:active,
.fixedBasketModalBtn:hover {
  color: #1d1d1d !important;
  background-color: #fff0db !important;
}
