.review {
  position: relative;
}

.review + .review {
  margin-top: 16px;
}

.addReviewTitle {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
}

.name {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  margin: 0 0 5px;
}

.comment {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

.submitButton {
  height: 40px;
  border: 1px solid #f0ad4e !important;
  border-radius: 4px;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  color: #f0ad4e !important;
  text-transform: uppercase;
  background-color: transparent !important;
  margin-top: 25px;
}

@media all and (max-width: 767px) {
  .review {
    margin-bottom: 16px;
  }

  .review > * {
    padding: 16px !important;
  }

  .review:last-child {
    margin-bottom: 0;
  }

  .rateColumn {
    position: absolute;
    top: 10px;
    right: 16px;
  }

  .name {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
  }

  .comment {
    font-size: 14px;
    line-height: 20px;
  }
}
