@media all and (max-width: 767px) {
  .orderForm {
    padding: 20px;
  }
}
.formGroup label {
  font-size: 16px;
  line-height: 21px;
  color: #999999;
}

.formGroup label:after {
  display: none;
}
