.basket {
  padding: 13px 16px 20px;
  background-color: #fff0db;
}

.basket.isFlexbox {
  display: flex;
  flex-direction: column;
}

.basket.isFlexbox .basketRow.lastRow {
  flex-grow: 1;
}

.basket hr {
  margin: 10px 0 !important;
}

.basketRow {
  margin-bottom: 5px;
}

.title {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  text-align: center;
}

.lastRow {
  margin-bottom: 20px;
}

@media all and (max-width: 767px) {
  .basket {
    padding: 20px 24px;
  }

  .basket.isFlexbox {
    padding-bottom: 36px;
  }
}
