.counter {
  padding: 5px;
  text-align: center;
  display: inline-block;
}

.count {
  color: #898989 !important;
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 28px;
}

.button {
  color: #fff !important;
}

.button:hover,
.button:focus,
.button:active {
  border-color: #f0ad4e;
  color: #fff !important;
}

.button + button {
  margin-left: 1px !important;
}
