.title {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  margin: 0;
}

.description {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

.price {
  margin-top: 8px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  color: #de9124;
}

@media all and (max-width: 767px) {
  .productDetailedOrderCard {
    margin-bottom: 16px;
  }

  .productDetailedOrderCard > * {
    padding: 16px;
  }

  .description {
    font-size: 14px;
    line-height: 20px;
  }
}
