@import "/node_modules/normalize.css/normalize.css";
@import "~antd/dist/antd.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

button,
button span {
  text-transform: uppercase;
}

hr {
  border-top-color: #1d1d1d;
  height: 1px;
}

.ant-form-item-label {
  line-height: 30px !important;
}

.ant-tabs-nav-wrap {
  background-color: #e5e5e5;
}

.ant-tabs-nav .ant-tabs-tab {
  margin-right: 0 !important;
  padding: 12px 0 !important;
  color: #1d1d1d !important;
  margin: 0 8px !important;
  font-size: 16px !important;
  line-height: 24px !important;
}

.ant-tabs-ink-bar {
  background-color: #1d1d1d !important;
}

.ant-layout {
  background-color: #fff !important;
}

.ant-card-body {
  padding: 20px 26px !important;
}

.ant-btn {
  font-weight: 700 !important;
  color: #fff;
  background-color: #f0ad4e !important;
  border-color: #f0ad4e !important;
}

.ant-btn-primary {
  background-color: #f0894e !important;
  border-color: #f0894e !important;
  color: #fff !important;
}

.ant-btn-primary:hover,
.ant-btn-primary:active,
.ant-btn-primary:focus {
  opacity: 0.8;
}

.ant-btn-lg {
  height: 48px !important;
}

.content-wrap {
  padding: 0;
}

.ant-rate {
  color: #f0ad4e !important;
}

.ant-modal-content,
.ant-modal-body {
  height: 100%;
}

.ant-modal-body {
  padding: 0 !important;
}

@media all and (max-width: 767px) {
  .ant-card-body {
    padding: 12px 16px !important;
  }

  .ant-form {
    padding: 20px 26px !important;
  }
}

@media all and (min-width: 768px) {
  .content-wrap {
    padding: 60px 0;
  }
}
